{% extends "base.html" %} {%block start%}

<nav style="padding: 4rem">
	<a href="{%url 'index'%}">home</a>
	<a href="{%url 'about'%}">about</a>
</nav>
{% include "image.html" %}
<h1>Hello from contact page</h1>
<p>name: Hooshmandlab</p>
<p>address: server</p>
<p>field: educational technology</p>

<form action="" method="POST" enctype="multipart/form-data">
	{%csrf_token%} {{form}}
	<button type="submit">submit</button>
</form>

<style>
	form {
		width: 90vw;
		max-width: 776px;
		margin: 0 auto;
		padding: 1rem;
	}

	input {
		margin: 0.4rem 0;
		padding: 0.1rem;
		width: 50%;
	}
	label {
		display: block;
	}

	button {
		text-align: center;
		padding: 0.2rem 0.6rem;
		text-transform: capitalize;
		background: rgb(199, 0, 0);
		color: white;
		letter-spacing: 1px;
		border: transparent;
		cursor: pointer;
	}
</style>

{%endblock%}
